
:root {
    --primary: #81181d;;
  }
  
  body {
    margin: 0;
    padding: 25px;
    font-family: "Poppins";
  }
  
  * {
    margin: 0;
  }
  
  header nav {
    display: flex;
    gap: 18px;
    justify-content: flex-end;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  header nav h1 {
    margin-right: auto;
    border-bottom: 4px solid var(--primary);
  }
  
  header nav a{
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
  }
  
  header nav a.active {
    background: var(--primary);
    color: aliceblue;
  }
  
  .home-layout nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
  }
  
  .home-layout nav a{
    padding: 10px;
    border: 2px solid white;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .home-layout nav a:hover{
    border-color: var(--primary);
  }
  
  .home-layout nav a.active {
    background: var(--primary);
    color: aliceblue;
  }

  .Form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 130px 0 0 520px;
    height: 40vh;
    border: 2px solid grey;
    padding: 3px;
    width: 30%;
  }

  .label{
    display: flex;
    flex-direction: column;
  }

  .icepack{
    padding: 22px;
  }

